@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-col: #047aed;
  --secondary-col: #1c3fa8;
  --dark-col: #002240;
  --light-col: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navigation styling */
.navbar {
  background-color: var(--primary-col);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 10px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/* common utils */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--primary-col);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn:hover {
  transform: scale(0.98);
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

/* Margin util */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/* cols  */

.txt-primary {
  color: var(--primary-col);
}

.txt-dark {
  color: var(--dark-col);
}

/* Background btns */

.bg-primary,
.btn-primary {
  background-color: var(--primary-col);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-col);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-col);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-col);
  color: var(--dark-col);
}

.bg-primary a,
.btn-primary a,
.bg-secondary,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}
/* Text Sizes */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

/* End of Utils */

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-col);
  color: #fff;
  position: relative;
}

.showcase-text {
  animation: slideInFrmLeft 1s ease-in;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% auto;
  gap: 30px;
  overflow: visible;
}

.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFrmRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
  /* width:100%; */
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0px;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase h1 {
  font-size: 40px;
}

/* Stats */

.stats {
  padding-top: 100px;
  animation: slideInFrmBtm 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Specialities */

.specialities img {
  margin: 0 auto;
}

.specialities .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .container {
  justify-content: center;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card img {
  width: 95px;
  height: 95px;
}

/* making flex item wrappable when screen size change */
.languages .flex {
  flex-wrap: wrap;
  flex-direction: rows;
}

.languages .card .h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Footer */

.footer .social {
  margin-top: 10px;
}

.footer .social a {
  margin: 0 10px;
}

/* Features */
.features img {
  width: 200px;
  justify-self: end;
}

/* About */
.img-container {
  justify-self: end;
}

.about img {
  width: 300px;
  z-index: 100;
  border-radius: 10px;
}

/* Feautues main  grid*/
.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Media Queries */

/* tabs and Under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .specialities .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hamburger {
    display: block;
  }
  .navbar nav {
    display: none;
  }

  .navbar nav ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar {
    height: 160px;
  }

  .navbar nav.show {
    display: flex;
    position: absolute;
    left: 35%;
    top: 60px;
    text-align: center;
    animation: slideInFrmTop 1s ease-in;
  }

  .showcase {
    height: auto;
    overflow: visible;
  }

  .showcase-text {
    text-align: center;
    white-space: pre-line;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .navbar .container {
    align-items: baseline;
  }
}

/* Mobile */
@media (min-width: 500px) {
  .navbar nav.show {
    left: 45%;
    top: 60px;
  }
}

/* Animations */

@keyframes slideInFrmLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFrmRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFrmTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFrmBtm {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
